<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= review.user.email %></h5>
    <h6 class="card-subtitle mb-2 text-muted">Rating: <%= review.rating %></h6>
    <p class="card-text"><%= review.comment %></p>
    <% if user_signed_in? && current_user.id == review.user.id %>
      <%= link_to 'Delete', restaurant_review_path(review.restaurant, review), method: :delete, class: 'card-link' %>
    <% end %>
  </div>
</div>